* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(2, 2, 38);
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .left {
    font-size: 1.5rem;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: rgb(18, 18, 77);
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    list-style: none;
    margin: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: rgb(122, 138, 239);
    font-size: 1.02rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
  }
  .firstSection > div {
    width: 30%;
  }
  .leftSection {
    font-size: 2rem;
  }

  .rightSection img {
    width: 50%;
    border-radius: 5%;
  }
  .purple {
    color: rgb(58, 58, 135);
  }
  #element {
    color: rgb(58, 58, 135);
  }
  main hr {
    border: 0;
    background: rgb(36, 35, 79);
    height: 2.5px;
    margin: 40px 70px;
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  .secondSection .text-gray {
    font-size: 10px;
    color: gray;
  }
  .secondSection h1 {
    font-size: 25px;
  }
  .secondSection .horizontal-line {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
  }
  .secondSection .vertical-line {
    height: 50px;
    width: 1px;
    background-color: white;
  }
  .secondSection .vertical-line img {
    width: 25px;
    position: relative;
    top: -30px;
    left: -12px;
  }
  .vertical-title {
    position: relative;
    top: 25px;
  }
  .vertical-desc {
    position: relative;
    top: 25px;
    font-size: 10px;
    width: 130px;
  }
  footer {
    background-color: #11111b;
  }
  .footer > div {
    max-width: 25vw;
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
  }
  .footer ul li {
    list-style: none;
  }
  .footer ul li a {
    text-decoration: none;
    color: white;
  }